		<aside class="aside_left">

			<div class="logo">
				<a href="/">Portfolio</a>
			</div>
			<div class="nav-toggler">
				<span></span>
			</div>

			<ul class="nav">



			<li><a href="/"> <i class="fa fa-home"></i> Головна2</a></li>
			<li><a href="/about.html" class="active"> <i class="fa fa-user"></i> О нас</a></li>
				<li>
					
					
					<a href="/services.html"> <i class="fa fa-list"></i> Услуги</a></li>
				<li>
					
					
					<a href="/portfolio.html"> <i class="fa fa-briefcase"></i> Портофлио</a></li>
				
					
				                           
					
					<li><a href="/calculator.html"> <i class="fa fa-calculator"></i> Калькулятор </a></li>
				<li><a href="/catgory.html"> <i class="fa fa-envelope"></i>Блог </a></li>
				<li><a href="/contact.html"> <i class="fa fa-comments"></i> Контакты</a></li>

			</ul>
			<div class="copyright_text">
				&copy; 2020 Frontendercode & Co
				<ul>
					<li><a href="/politiks.html"> Политика конфициальности </a> </li>
				</ul>
			</div>

		</aside>
<script src="js/scripts.min.js"></script>
</body>

</html>
