<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <!-- <base href="/"> -->
  <title>Головна сторінка сайту</title>
  <meta name="description" content="Ігор Васильченко найкращий виконавець, який здатний створити якісний сайт з нуля" />
  <meta name="keywords" content="створити сайт з нуля, верстаю швидкі шаблони">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Ігор Васильченко">
  <meta name="copyright"
    content="Усі права на сайт та на його невідємні частини в рамках данного проекту належить Васильченко Ігорю">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="shortcut icon" href="img/favicon/favicon.ico" />
  <!-- 3 нижние строки Chrome, Firefox OS and Opera; Windows Phone; iOS Safari    -->
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <style>
    html {
      background-color: #ffffff;
    }

    body {
      overflow-x: hidden;
      opacity: 0;
    }
  </style>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link id="change__style" rel="stylesheet" href="css/pink.css" />
</head>
<!-- Это первый комментарий -->

<body>
  <!-- Custom HTML -->
	<div class="style-switcher">
		<div class="toggle-style-switcher">
			<i class="fa fa-cog fa-spin"></i>
		</div>
		<h5>Изменить оформление</h5>
		<div class="decoration_scene">
			<div id="scene__pink" class="scene__items" style="background-color: #ec1839;"></div>
			<div id="scene__blue" class="scene__items" style="background-color: #2196f3;"></div>
			<div id="scene__orange" class="scene__items" style="background-color: #fa5b0f;"></div>
			<div id="scene__yellow" class="scene__items" style="background-color: #ffb400;"></div>
			<div id="scene__green" class="scene__items" style="background-color: #72b626;"></div>
		</div>
		<h5>Изменить тему</h5>
		<div class="change__thene">
			<div class="change__thene_item">
				<div id="light-theme" class="body-skin body-skyn__light"> светлая</div>
			</div>
			<div class="change__thene_item">
				<div id="dark-theme" class="body-skin body-skyn__dark"> темная</div>
			</div>
		</div>
	</div>




  